# Post-review workflow.
#
# This workflow is used to ensure that the newly accepted changes into the 'main' branch are stable and do not break
# the code already present on the 'main' branch.
#
# The workflow is only triggered on the original repository (and not on the fork repositories) after a pull request from
# another branch (such as 'main' from a fork repository) is accepted and the pull request closed.
#
# The workflow runs the `shed test --abort-on-fail` command, which in turn runs the `flutter test` command and will
# abort the test process as soon as one test fails. The failure will also cause a reversal of the pull request.
#
# For more info, see the `nunuazaidi/shed` repository.
name: post-review

on:
  push:
    branches:
      - 'main'

jobs:
  post-review:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - name: "Checking out ${{github.repository}} repository..."
        uses: actions/checkout@v3

      - name: "Setting up the environment..."
        uses: ./.github/actions/setup-env

      - name: "Setting up Flutter..."
        uses: ./.github/actions/setup-flutter

      - name: "Setting up shed..."
        uses: ./.github/actions/setup-shed
        with:
          shed-deploy-key: ${{secrets.SHED_DEPLOY_KEY}}
          invalidate-cache: true
      - name: "Running `flutter test` and aborting when a test fails..."
        run: shed test --abort-on-fail