# Pre-review workflow.
#
# This workflow is used to ensure the changes made are stable before they're submitted for review to the original
# repository.
#
# The workflow is triggered only on a fork repository, whenever a push is made to the 'main' branch.
# A merge request from another branch (such as a 'feature' branch) to 'main' will also trigger this workflow.
#
# The workflow runs the `shed test --abort-on-fail` command, which in turn runs the `flutter test` command and will
# abort the test process as soon as one test fails.
#
# For more info, see the `nunuazaidi/shed` repository.
name: pre-review

on:
  push:
    branches:
      - 'main'

jobs:
  pre-review-setup-flutter:
    if: github.event.repository.fork == true
    uses: ./.github/workflows/setup-flutter.yaml
  pre-review-setup-shed:
    uses: ./.github/workflows/setup-shed.yaml
  pre-review-test:
    runs-on: ubuntu-latest
    steps:
      - run: flutter pub get
      - name: "Running `flutter test` and aborting when a test fails..."
        run: shed test --abort-on-fail