# Pre-review workflow.
#
# This workflow is used to ensure the changes made are stable before they're submitted for review to the original
# repository.
#
# The workflow is triggered only on a fork repository, whenever a push is made to the 'main' branch.
# A merge request from another branch (such as a 'feature' branch) to 'main' will also trigger this workflow.
#
# The workflow runs the `shed test --abort-on-fail` command, which in turn runs the `flutter test` command and will
# abort the test process as soon as one test fails.
#
# For more info, see the `nunuazaidi/shed` repository.
name: pre-review

on:
  push:
    branches:
      - 'main'

jobs:
  pre-review:
    if: github.event.repository.fork == true
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup-env.yaml
      - name: "Download Flutter v${{env.FLUTTER_VERSION}} on channel ${{env.FLUTTER_CHANNEL}}..."
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{env.FLUTTER_VERSION}}
          cache: true
          cache-key: ${{env.FLUTTER_VERSION}}
          channel: ${{env.FLUTTER_CHANNEL}}
      - name: "Restore shed source from cache..."
        id: cache-shed-src
        uses: actions/cache@v3
        with:
          path: ./build/shed/src
          key: shed-${{env.SHED_VERSION}}-${{runner.os}}-${{hashFiles('./build/shed/src/pubspec.yaml')}}
      - name: "Downloading shed..."
        if: steps.cache-shed-src.outputs.cache-hit == false
        uses: actions/checkout@v3
        with:
          repository: nunuazaidi/shed
          ref: ${{env.SHED_VERSION}}
          ssh-key: ${{secrets.SHED_DEPLOY_KEY}}
          path: ./build/shed/src
      - name: "Restoring compiled shed binary from cache..."
        id: cache-shed-tool
        uses: actions/cache@v3
        with:
          path: ./build/shed/out
          key: ${{env.SHED_VERSION}}-tool
      - name: "Compiling shed..."
        run: ./md ./.github/compile.sh
      - name: "Adding shed to $GITHUB_PATH..."
        run: echo "./build/shed/out" >> $GITHUB_PATH
      - run: flutter pub get
      - name: "Running `flutter test` and aborting when a test fails..."
        run: shed test --abort-on-fail