name: pre-review

on:
  push:
    branches:
      - 'main'

jobs:
  pre-review-test:
    if: github.event.repository.fork == true
    runs-on: ubuntu-latest
    steps:
      - run: chmod a+x ./.github/config.sh && ./.github/config.sh
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{env.FLUTTER_VERSION}}
          channel: ${{env.FLUTTER_CHANNEL}}
      - run: flutter pub get
      - run: flutter test --no-pub