name: staging-deploy
on:
  push:
    branches:
      - 'prepare-staging'

env:
  DART_VERSION: '2.17.0'

jobs:
  staging-deploy:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1.3
        with:
          sdk: $DART_VERSION
      - uses: actions/checkout@v3
        with:
          repository: nunuazaidi/shed
          token: ${{ secrets.SHED_ACCESS_TOKEN }}
          path: ./shed
      - run: |
            cd ./shed
            dart pub get
            dart run bin/shed.dart
            ls -la
