name: staging-deploy
on:
  push:
    branches:
      - 'prepare-staging'

env:
  FLUTTER_VERSION: '3.0.0'
  FLUTTER_CHANNEL: 'stable'

jobs:
  staging-deploy:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: $FLUTTER_VERSION
          channel: $FLUTTER_CHANNEL
      - uses: actions/checkout@v3
        with:
          repository: nunuazaidi/shed
          token: ${{ secrets.SHED_ACCESS_TOKEN }}
          path: ./shed
      - run: dart compile exe ./shed/bin/shed.dart -o ./shed
      - run: echo "./shed" >> $GITHUB_PATH
      - run: shed --help
